@font-face {
    font-family: Modulus;
    src: url(../fonts/Modulus_Medium.ttf);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d2d2d2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    font-family: Modulus, sans-serif;
    position: relative;
    background-color: #ffffff;
    width: 400px;
    height: 600px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    overflow: hidden;
}

#background {
    width: 100%;
    position: absolute;
    z-index: 1;
}

.content-wrapper {
    background-color: #ffffff;
    z-index: 2;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & p {
        font-weight: 900;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        color: #707070;
    }

    & h1 {
        margin-bottom: 10px;
    }
}

.content {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.avatar-wrapper {
    z-index: 3;
    top: 27%;
    left: calc(50% - 85px);
    position: absolute;
    background-color: #ffffff;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#avatar {
    width: 92%;
    border-radius: 50%;
}

.btn-card {
    font-weight: 600;
    margin-top: 10px;
    padding: 10px 15px;
    border-radius: 50px;
    background-color: #fe4d57;
    color: white;
    border: 1px solid transparent;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;

    &:hover {
        background-color: #d3000b;
        border: 1px solid black;
    }
}